.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}

.tile path {
  fill: none;
  stroke: yellow;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.tile .major_road { stroke: #776; }
.tile .major_road:hover { stroke: red; stroke-width: 3px;}
.tile .minor_road { stroke: white; }
.tile .highway { stroke: #f39; stroke-width: 1.5px; }
.tile .highway:hover { stroke: red; stroke-width: 3px; }
.tile .rail { stroke: #7de; }

.tile .industrial { stroke: none; fill: plum; }
.tile .grass { stroke: none; fill: lightgreen; }
.tile .residential { stroke: none; fill: lightgray;}
.tile .park { stroke: none; fill: palegreen;}
.tile .forest { stroke: none; fill: mediumseagreen;}
.tile .farm { stroke: none; fill: MediumAquaMarine;}
.tile .scrub { stroke: none; fill: YellowGreen;}
.tile .cemetery { stroke: none; fill: DarkSeaGreen;}
.tile .recreation_ground { stroke: none; fill: aquamarine;}

.tile .ocean { stroke: none; fill: PaleTurquoise ; }
.tile .water { stroke: none; fill: PaleTurquoise ; }
.tile .riverbank { stroke: none; fill: PaleTurquoise ; }
.tile .canal { stroke: none; fill: PaleTurquoise ; }
.tile .drain { stroke: none; fill: PaleTurquoise ; }
.tile .ditch { stroke: none; fill: PaleTurquoise ; }
.tile .moat { stroke: none; fill: PaleTurquoise ; }
.tile .reservoir { stroke: none; fill: PaleTurquoise ; }
.tile .river { stroke: none; fill: PaleTurquoise ; }
.tile .dock { stroke: none; fill: PaleTurquoise ; }
.tile .basin { stroke: none; fill: PaleTurquoise ; }

.tile .building { stroke: none; fill: Tan ; }
.tile .building:hover { stroke: none; fill: Red ; }
